<div class="row">
  <div class="col-md-9">
    <%= Enum.map @posts, fn(post)-> %>
      <%= render BlogWeb.SharedView, "post_cut.html", conn: @conn, current_user: @current_user, post: post %>
    <% end %>
  </div>
  <div class="col-md-3">
    right side
  </div>
</div>
