.post-list {
  @extend .col-md-12;
  background-color: $block-bg-color;
  margin-top: 10px;
  padding: 10px;

  .post-footer {
    @extend .col-md-12;
    height: 30px;
    .text {
      margin-right: 5px;
    }
  }
  .post-body {
    @extend .col-md-12;
  }
}