/* This file is for your main application css. */
@import "bootstrap_variables";
@import "bootstrap";
@import "typeahead";
@import "../node_modules/summernote/dist/summernote-bs4";
@import "post-list";
@import "post";

.hub-right-block {
  background-color: $block-bg-color;
  margin-top: 10px;
  padding: 10px;
  .row {
    margin-top: 10px;
  }
}