<%= form_for @changeset, @action, fn f -> %>
  <%= inspect @changeset %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <label>Username</label>
    <%= text_input f, :username, class: "form-control", required: true %>
    <%= error_tag f, :username %>
  </div>

  <div class="form-group">
    <label>Email</label>
    <%= text_input f, :email, class: "form-control", required: true %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <label>Password</label>
    <%= password_input f, :password, class: "form-control", required: true %>
    <%= error_tag f, :password %>
  </div>

  <div class="form-group">
    <label>Password Confiration</label>
    <%= password_input f, :password_confirmation, class: "form-control", required: true %>
    <%= error_tag f, :password_confirmation %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
