<h2>Listing Hubs</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Adult</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for hub <- @hubs do %>
    <tr>
      <td><%= hub.name %></td>
      <td><%= hub.description %></td>
      <td><%= hub.adult %></td>

      <td class="text-right">
        <span><%= link "Show", to: to_subdomain(sub_hub_url(@conn, :show), hub), class: "btn btn-default btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Hub", to: hub_path(@conn, :new) %></span>
