<div class="row">
  <div class="col-md-9">
    <%= Enum.map @posts, fn(post)-> %>
      <%= render BlogWeb.SharedView, "post_cut.html", conn: @conn, current_user: @current_user, post: post %>
    <% end %>
  </div>
  <div class="col-md-3">
    <div class="hub-right-block">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group btn-">
            <%= link(@hub.name, to: to_subdomain(sub_hub_url(@conn, :show), @hub), class: "btn btn-sm btn-secondary")%>
            <%= if @current_user && @hub.created_by_id == @current_user.id do %>
              <%= link "Редактировать", to: to_subdomain(sub_hub_url(@conn, :edit), @hub), class: "btn btn-sm btn-warning" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= raw BlogWeb.LayoutView.sanitize(@hub.description) %>
        </div>
      </div>
    </div>
  </div>
</div>
