<div class="post-list">
  <div class="post-header">
    <h3><%= @post.title %></h3>
  </div>
  <div class="post-body">
    <%= raw BlogWeb.LayoutView.sanitize(@post.cut)%>
  </div>
  <div class="post-footer">
    <div class="float-right">
      <div class="btn-group">
        <span class="text">
          Написал:
          <%= @post.created_by.username %>
        </span>
      </div>
      <div class="btn-group">
        <span class="text">
          <%= @post.inserted_at |> BlogWeb.LayoutView.date_to_string %>
        </span>
      </div>
      <div class="btn-group">
        <%= link "Комментировать", to: to_subdomain(sub_post_url(@conn, :show, @post.slug), @post.hub), class: "btn btn-sm btn-light" %>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu">
            <%= if Blog.Posts.editable?(@post, @current_user) do %>
              <%= link "Редактировать", to: to_subdomain(sub_post_url(@conn, :edit, @post.slug), @post.hub), class: "dropdown-item" %>
            <% end %>
            <%= if Blog.Posts.deletable?(@post, @current_user) do %>
              <%= link "Удалить", to: to_subdomain(sub_post_url(@conn, :edit, @post.slug), @post.hub), class: "dropdown-item" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>