<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= cond do
     is_nil(@hub) ->
       hidden_input f, :hub_id
     %Blog.Hubs.Hub{} == @hub ->
       hidden_input f, :hub_id, value: @hub.id
     true ->
       hidden_input f, :hub_id
  end %>

  <div class="form-group">
    <%= label f, :hub_name, class: "control-label" %>
    <%= cond do
       is_preloaded(f.data, :hub) ->
        text_input f, :hub_name, class: "form-control", value: f.data.hub.name
       %Blog.Hubs.Hub{} == @hub ->
        text_input f, :hub_name, class: "form-control", value: @hub.name
       true ->
        text_input f, :hub_name, class: "form-control"
    end %>
    <% error_tag f, :hub_name %>
  </div>

  <div class="form-group">
    <%= label f, :url, class: "control-label" %>
    <%= text_input f, :url, class: "form-control" %>
    <%= error_tag f, :url %>
  </div>

  <div class="form-group">
    <%= label f, :title, class: "control-label" %>
    <%= text_input f, :title, class: "form-control" %>
    <%= error_tag f, :title %>
  </div>

  <div class="form-group">
    <%= label f, :cut, class: "control-label" %>
    <%= textarea f, :cut, class: "form-control" %>
    <%= error_tag f, :cut %>
  </div>

  <div class="form-group">
    <%= label f, :body, class: "control-label" %>
    <%= textarea f, :body, class: "form-control" %>
    <%= error_tag f, :body %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
