<h2>Listing Posts</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Cut</th>
      <th>Body</th>
      <th>Slug</th>
      <th>Url</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for post <- @posts do %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.cut %></td>
      <td><%= post.body %></td>
      <td><%= post.slug %></td>
      <td><%= post.url %></td>

      <td class="text-right">
        <span><%= link "Show", to: sub_post_path(@conn, :show, post), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: sub_post_path(@conn, :edit, post), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: sub_post_path(@conn, :delete, post), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Post", to: sub_post_path(@conn, :new) %></span>
