<div class="row">
  <div class="col-md-8">
    <div class="post">
      <div class="post-header">
        <h3><%= @post.title %></h3>
      </div>
      <div class="post-body">
        <%= raw BlogWeb.LayoutView.sanitize(@post.cut) %>
        <%= raw BlogWeb.LayoutView.sanitize(@post.body) %>
      </div>
      <div class="post-footer">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <span><%= link "Edit", to: sub_post_path(@conn, :edit, @post.slug) %></span>
  </div>
</div>

