<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <%= if logged?(@conn) do %>
          <li class="nav-item">
            <%= link "Создать пост", to: post_path(@conn, :new), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link "Создать хаб", to: hub_path(@conn, :new), class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link "Список хабов", to: hub_url(@conn, :index), class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <%= if logged?(@conn) do %>
          <li class="nav-item">
            <%= link current_user(@conn).username, to: "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link "Выйти", to: session_path(@conn, :delete, "me"), class: "nav-link", method: "delete" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link "Войти", to: session_path(@conn, :new), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link "Регистрация", to: registration_path(@conn, :new), class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>

<%= if get_flash(@conn, :info) do %>
  <div class="alert alert-info" role="alert">
    <%= get_flash(@conn, :info) %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<%= if get_flash(@conn, :error) do %>
  <div class="alert alert-danger" role="alert">
    <%= get_flash(@conn, :error) %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>